body {
    background-color:darkslategray;
  }

/*Header*/
h1 {
    color: black;
    background-color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 350px;
    padding-top: 25px;
    height: 100px;
}

div#CP.col-6{
    height:100px;
    color:snow;
    background-color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:30px;
    padding-left:400px;
}

div#CE.col-6 {
    height: 100px;
    color: black;
    background-color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    padding-left: 375px;
}

div#CL.col-6 {
    height: 100px;
    color: snow;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    padding-left: 350px;
}