body {
    background-color:black;
}

/*Header*/
h1 {
    color: snow;
    background-color:darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 350px;
    padding-top: 25px;
    height: 100px;
}

div#CP.col-6 {
    height: 100px;
    color: darkslategray;
    background-color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    padding-top: 30px;
    padding-left: 250px;
}

div#FTFront.col-4 {
    background-image: url('Img/FortuneTeller.jpg');
    background-size:cover;
    height:400px;
}
   

div.col-4{
    color:snow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    height:400px;
}

div#FTBack.col-4 {
    background-image: url('Img/FortuneTellerBack.jpg');
    background-size: cover;
    height: 400px;
}

div#FTBack.col-4:hover {
    background-image: url('Img/FortuneTellerBack.jpg');
    background-size: cover;
    height: 600px;
}