body {
    background-image: url('Img/binary code.jpg');
    background-size:cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    max-width: 1200px;
    border-color: black;
    border-style: solid;
    border-width: thick;
    margin: auto;
}


.button /*Logo button*/ {
    height: 100px;
    width: 100px;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;
    background-image: url('Img/rsz_logo-mini.jpg');
    background-size: cover;
    background-position: center;
}
section.grid-item.grid-item-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:10px;
    grid-column: 2 / span 9;
    height: 100px;
    width: auto;
}

    section.grid-item.grid-item-3 {
        display: flex;
        flex-wrap: wrap;
        grid-column: 1 / span 4;
        height:400px;
        width:auto;
        background-image: url('Img/Tim Axford Headshot mod.jpg');
        background-size: cover;
    }

    section.grid-item.grid-item-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column: 5 / span 5;
        height: 400px;
        background-color: black;
        opacity: .8;
    }

    h1 {
        color: snow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        font-weight: bold;
    }

    p {
        color: snow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        margin-left: 30px;
        margin-bottom: 120px;
        font-weight: bold;
    }



    section.grid-item.grid-item-5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content:center;
        grid-column: 1 / span 9;
        height: 100px;
        background-color: black; 
        opacity:.9;
    }

p.PH {
    color: snow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

section.grid-item.grid-item-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 1 / span 5;
    height: 400px;
    background-image: url('Img/FortuneTeller.jpg');
    background-size:cover;
}

section.grid-item.grid-item-7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 6 / span 9;
    height: 400px;
    background-color: black;
}

h1.FTH {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-decoration:underline;
}
p.FTH {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
}

section.grid-item.grid-item-8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 1 / span 5;
    height: 400px;
    background-color: black;
    opacity: .8;
}



section.grid-item.grid-item-9 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: 1 / span 9;
    height: 100px;
    background-color: black;
}
    